.full {
    height: 100vh;
    overflow: hidden;
}

.homeWorkout__header {
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: large;
}


.homeWorkout__subDel {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 8vh;
}

.text {
    text-align: center;
}

.space {
    justify-content: space-between;
}


.homeWorkout__cell {
    text-align: center;
    border: groove;
    min-height: 8vh;
}

