.type {
    width: 100%;
}

.hi {
    width: 50vw;
    height: 50vh;
    background-color: red;
    position: fixed;
    top: 25vh;
    right: 25vw;
}

.question__box {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;

    margin-top: 3px;
    margin-bottom: 3px;
}

.question__btn {
    appearance: none;
    border: none;
    outline: none;

    
    height: 3vh;

    background-color: lightblue;
    color: #FFF;
    border-radius: 3rem;
    margin-top: 3px;
    margin-bottom: 3px;
    transition: 0.4s;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.question__btn:hover {
    background-color: gray;
}

.question__header {
    display: flex;
    flex-direction: row;
}

.question__headerInput {
    appearance: none;
    border: none;
    outline: none;

    
    background-color: black;
    color: #FFF;
    margin-top: 3px;
    margin-bottom: 3px;
    transition: 0.4s;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;

    text-align: center;
}

.question__type {
    width: 100%;
    background-color: black;
    color: white;
    height: 2.5vh;
    font-size: large;
}

.question__btnSmall {
    appearance: none;
    border: none;
    outline: none;

    background-color: black;
    color: white;
    padding: 1px;
    cursor: pointer;

}

.question__btnSmall:hover {
    background-color: gray;
}



.question__lineBreak {
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 0.4vh;
}

.question__personalBox {
    position: fixed;
    width: 50vw;
    height: 50vh;
    top: 10vh;
    right: 25vw;
    

    background-color: gray;
    color: white;

}



.question__innerBox {
    position: fixed;

    top: 25vh;


    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 10px;

    max-width: 50vw;
    max-height: 30vh;
}
