.type {
    width: 100%;
}

.question__type {
    width: 100%;
    background-color: #353b48;
    color: white;
    height: 3vh;
    font-size: large;
}

.question__box {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    margin-bottom: 3px;
}

.question__question {
    appearance: none;
    border: none;
    outline: none;

    
    height: 3vh;

    background-color: #355977;
    color: #FFF;
    margin-top: 3px;
    margin-bottom: 3px;
    transition: 0.4s;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.question__btn {
    appearance: none;
    border: none;
    outline: none;

    
    height: 3vh;

    background-color: rgb(42, 128, 156);
    color: #FFF;
    border-radius: 3rem;
    margin-top: 3px;
    margin-bottom: 3px;
    transition: 0.4s;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.question__btn:hover {
    background-color: gray;
}

.question__Addbtn {
    appearance: none;
    border: none;
    outline: none;

    
    height: 3vh;

    background-color: rgb(9, 81, 105);
    color: #FFF;
    margin-top: 3px;
    margin-bottom: 3px;
    transition: 0.4s;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;

    padding: 2px;
}

.question__header {
    display: flex;
    flex-direction: row;
}

.question__headerInput {
    appearance: none;
    border: none;
    outline: none;

    
    background-color: black;
    color: #FFF;
    margin-top: 3px;
    margin-bottom: 3px;
    transition: 0.4s;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;

    text-align: center;
}



.question__btnSmall {
    appearance: none;
    border: none;
    outline: none;

    background-color: black;
    color: white;
    padding: 1px;
    cursor: pointer;

}

.question__btnSmall:hover {
    background-color: gray;
}



.question__lineBreak {
    width: 100%;
    background-color: black;
    height: 0.4vh;
}

.question__personalBox {
    position: fixed;
    min-width: 50vw;
    min-height: 50vh;
    top: 10vh;
    right: 25vw;

    align-items: center;
    

    background-color: rgb(9, 81, 105);
    color: white;

}



.question__innerBox {
    position: fixed;

    top: 15vh;

    display: flex;
    flex-direction: column;

    max-width: 50vw;
    max-height: 30vh;
}

.question__personalBoxAnswer {
    min-height: 41vh;
    min-width: 50vw;

    background-color: rgb(9, 81, 105);
    border-top-color: black;
    border-top-width: 1vh;

    color: white;
    font-size: 1.2rem;

    border-bottom: none;
    border-left: none;
    border-right: none;
    overflow:hidden;
}


